@import '../../themes/themes.module.scss';

.additionally {
    display: grid;
    overflow: hidden;
    grid-template-rows: auto;
    grid-auto-rows: 1fr;

}
.specialProperty{
    overflow: hidden;
    padding: 0.5rem;
    border-radius: 1rem;

    &:hover {
        background-color: $color-illumination-mini;
    }
}
.activeElement {
    &:hover {
        background-color: transparent;
    }
}

