@import "../../themes/themes.module.scss";

.model {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  margin: 3.2rem;
  gap: 1.5rem;
  height: calc(100vh - 11rem);
  align-items: flex-start;
  align-content: flex-start;
  justify-items: center;

  background-color: $color-fon;
  border-radius: 1rem;
  overflow-y: auto;

  > div,
  form,
  form > div {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    position: relative;
  }
  input {
    background-color: transparent;
    border: 2px solid $color-button-border;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.6rem;
    outline: none;
  }
  label {
    position: absolute;
    top: 1rem;
    left: 1.1rem;
    color: gray;
    transition: all 0.2s linear;
    font-weight: bolder;
    z-index: -10;
  }
  input:hover ~ label {
    background-color: $color-label-hover-valid;
  }
  input:focus ~ label,
  input:valid ~ label {
    top: -1.5rem;
    font-size: 1.2rem;
    color: $color-label-text-hover-valid;
    background-color: transparent;
  }

  h3 {
    margin: 3rem;
  }
}
