@import '../../themes/themes.module.scss';

.maket {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 3.2rem;
    gap: 1rem;
    height: calc(100vh - 4.6rem);

    > div {
        display: grid;
        text-align: center;
        background-color: $color-fon;
        border-radius: 1rem;
        max-height: calc(100vh - 11rem);
    }

    > div:first-child {
        align-items: start;
        align-content: flex-start;
        overflow: hidden;
        row-gap: 2rem;
    }
    > div:nth-child(2) {
        align-items: flex-start;
        overflow-y: auto;
        overflow-x: hidden;
    }

    @media (max-width: 650px) {
        
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
